<h1>New Q</h1>
<form action="<%= questions_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Question:
  <input type="text" name="question[title]" value="<%= @question.title %>">
  <br>
  Description:
  <textarea name="question[description]" rows="8" cols="40"><%= @question.description %></textarea>
  <br>
  <input type="submit" value="Submit Q">
</form>
