<form>
  <label for="answer-body">Write your answer</label>
  <textarea id="answer-body" name="body"></textarea>
  <br>
  <label for="answer-anonymous">Make Anonymous</label>
  <input type="radio" name="anonymous" value="true">
  <input checked id="hidden-anon-radio" type="radio" name="anonymous" value="false">
  <br>
  <button class="create-answer-btn">WriteAnswer</button>
</form>
