<% if (answer.escape("anonymous") === "true") { %>
  <h1 class="answer-show-name">Anonymous</h1>
<% } else { %>
  <h1 class="answer-show-name"><%= answer.escape('authorName') %></h1>
<% } %>
<div class="answer-show-body">
  <%= answer.escape("body").replace(/\n/g, "<br>") %>
</div>
<br>
