<div id="question-index-tags">

</div>
<a href=<%= "#questions/" + question.id %> class="question-show-link"><%= question.escape('title') %></a>
<br>

<div class="answer-body">
  <% if (answer && page === "feed") { %>
    <% if (answer.escape("anonymous") === "true") { %>
      <h1 class="answer-show-name">Anonymous</h1>
    <% } else { %>
      <h1 class="answer-show-name"><%= answer.escape('authorName') %></h1>
    <% } %>
    <%= answer.escape("body").replace(/\n/g, "<br>") %>
  <% } %>
</div>
<div id='new-answer-on-q-index'>
  <button class="new-answer-btn btn btn-primary">Write Answer</button>
</div>
<br>
