<% if (page === "index") { %>
  <h1 class="questions-header">QUESTIONS</h1>
<% } else if (page === "feed") { %>
  <h1 class="questions-header">FEED</h1>
<% } else if (page === "search") { %>
  <h1 class="questions-header">RESULTS</h1>
<% } %>
<div id="question-index-items">

</div>
