<div id="question-index-tags">

</div>
<a href=<%= "#questions/" + question.id %> class="question-show-link"><%= question.escape('title') %></a>
<div>
  <%= question.escape('description') %>
</div>
<br>
<div class="question-index-answer-show"></div>

<div id='new-answer-on-q-index'>
  <button class="new-answer-btn btn btn-primary">Write Answer</button>
</div>
<br>
