/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require quill.snow
 *= require quill.base
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome";

 .typed-cursor{
   opacity: 1;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
 }
 @keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
 }
 @-webkit-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
 }
 @-moz-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
 }

.navbar-right {
  font-size: 14px;
  color: #666;
  line-height: 45px;
}

.sign-up-in-page {
  max-width: 550px;
  padding: 20px;
  margin: auto;
  border: 2px solid lightgray;
  border-radius: 7px;
  background-color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  left: 0;
}

.form-signin input{
  width: 100%;
  font-size: 28px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.form-signin-heading {
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

body {
  padding-top: 50px;
  margin-top: 20px;
  background-size: cover;
  min-height: 100%;
  // font-family: Helvetica;
}

html {
  background-color: white;
  height: 100%;
}

.nav-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-header {
  background-color: darkblue;
  text-color: white;
  padding-left: 13px;
}

.navbar {
  border-color: darkblue;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 26px;
  font-family: serif;
}

.navbar-default {
  background-color: ghostwhite;
}

a.btn.btn-primary.navbar-btn {
  padding: 5px;
  color: white;
  border: 1px solid #4f5863;
}

.navbar-default .search {
  width: 180%;
}

.guest-btn {
  font-size: 28px;
  margin-bottom: 10px;
}

.or {
  text-align: center;
  margin-bottom: 15px;
}

#main {
  width: 55%;
  margin: auto;
}

#left-panel {
  height: 100%;
  float: left;
  width: 20%;
  margin-left: 1%;
}

.my-tags-div {
  float: left;
}

.other-tags-div {
  float: left;
}

.my-tags-header {
  font-size: 12px;
  text-decoration: underline;
  color: gray;
  font-weight: 600;
}

.other-tags-header {
  font-size: 12px;
  text-decoration: underline;
  color: gray;
  font-weight: 600;
}

a.destroy-sub-btn, a.add-sub-btn {
  color: #808393;
}

.up-btn {
  color: #2b6dad;
  background: #f1f8fb;
  border: 1px solid #bbcadc;
  border-radius: 3px;
  font-weight: 500;
}

.up-btn:hover {
  border-color: #2b6dad;
}

a.expand-answer-body:hover, a.down-btn:hover {
  color: #337ab7;
}

.questions-header {
  font-size: 18px;
}

.question-index-item:nth-child(odd), .answer-show:nth-child(odd){
  border-top: 1px solid lightsteelblue;
  border-bottom: 1px solid lightsteelblue;
}

.question-index-item {
  padding-top: 5px;
  padding-bottom: 10px;
}

.question-show-link {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.question-show-link:hover {
  color: black;
}

.tag-show {
  float: left;
  margin: 5px 2px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #808393;
  background-color: ghostwhite;
  margin-right: 4px;
  border-radius: 12px;
  padding: 4px 8px;
  border: 0;
}

#question-index-tags, .question-show-tags {
  display: flex;
}

.new-answer-btn {
  color: #6d6d6d;
  border: 1px solid #cbcbd8;
  background: #f6f6f9;
  font-weight: 500;
  padding: 3px 7px 4px 7px;
}

.new-answer-btn:hover {
  border: 1px solid #656565;
  background: #f6f6f9;
  color: #6d6d6d;
}

.create-answer-btn {
  color: #6d6d6d;
  border: 1px solid #cbcbd8;
  background: #f6f6f9;
  font-weight: 500;
  padding: 3px 7px 4px 7px;
}

.create-answer-btn:hover {
  border: 1px solid #656565;
  background: #f6f6f9;
  color: #6d6d6d;
}

.answer-body {
  font-size: 15px;
  line-height: 1.4;
}

#hidden-anon-radio {
  display: none;
}

.new-question-page {
  max-width: 100%;
  padding: 15px;
  margin: auto;
  border: 2px solid lightgray;
  border-radius: 7px;
}

.new-q-form input#question_title {
  width: 100%;
  font-size: 28px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.new-q-form textarea {
  width: 100%;
  font-size: 28px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.add-q-header {
  font-size: 18px;
}

.create-question-btn {
  float: right;
}

.new-subs-page {
  max-width: 100%;
  padding: 15px;
  margin: auto;
  border: 2px solid lightgray;
  border-radius: 7px;
}

.question-show-title {
  font-size: 32px;
  font-weight: bold;
}

.answer-show-name {
  font-size: 16px;
  font-weight: bold;
}

.answer-show-body {
  font-size: 16px;
  height: 69px;
  overflow: hidden;
}

.answer-show-body.toggle {
  height: 100%;
}

.expand-answer-body.toggle {
  display: none;
}

.expand-answer-body {
  float: right;
}

h3.question-show-description {
  font-size: 16px;
}

.topic-links {
  color: #808393;
  font-weight: 500;
}

.topic-links:hover {
  color: #808393;
  font-weight: 500;
}

a.btn.btn-primary.navbar-btn:hover {
  background: #337ab7;
  color: #808393;
}

div#full-toolbar {
  border: 1px solid lightgray;
  border-radius: 3px 3px 0px 0px;
  border-radius-bottom: none;
}

.toolbar-right {
  float: right;
}

a.answer-anon-link {
  color: #6d6d6d;
}

a.down-btn {
  color: #6d6d6d;
  padding-left: 5px;
}

a.down-btn:hover {
  color: #6d6d6d;
  text-decoration: underline;
}

div#full-editor {
  border: 1px solid lightgray;
  border-radius: 0px 0px 3px 3px;
  border-top: none;
  margin-bottom: 10px;
  height: 70px;
}

#new-answer-on-q-index .answer-show {
  border: none;
}

.question-index-answer-show .answer-show {
  border: none;
}

#answers .answer-show {
  padding-bottom: 10px;
}

.q-new-tag-label, .new-subs-topic {
  margin: 5px 2px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #808393;
  background-color: ghostwhite;
  margin-right: 4px;
  border-radius: 12px;
  padding: 4px 8px;
  border: 0;
}

.q-new-tag-label:hover, .new-subs-topic:hover {
  text-decoration: underline;
}

.selected-q-tag {
  border: 1px solid lightblue;
}

.new-subs-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
