<div class="my-tags-div">
  <h1 class="my-tags-header">YOUR TOPICS</h1>
  <div class="my-tags"></div>
</div>
<div class="other-tags-div">
  <h1 class="other-tags-header">EXPLORE OTHER TOPICS</h1>
  <div class="other-tags"></div>
</div>
